// colors
$primary: #ffffff;
$danger: #ff4757;
$success: #46c93a;
$dark: #1e1e1e;
$warning: #ffba00;
$light: #f5f5f5;
$bg: #222425;
$bgCard: #2f3233;
$menu-item-active:  #ffffff33;
// !colors
$lazy: cubic-bezier(.17,.67,.83,.67);